BasedOnStyle: LLVM
TabWidth: 4
IndentWidth: 4
---
AccessModifierOffset: '-2'
ConstructorInitializerIndentWidth: 2
MaxEmptyLinesToKeep: '2'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignAfterOpenBracket: Align
AlignOperands: 'true'
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: 'false'
BreakConstructorInitializers: BeforeComma
SpaceAroundPointerQualifiers: Default
AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Left
BinPackArguments: 'true'
BinPackParameters: 'true'
ColumnLimit: '120'
CompactNamespaces: 'true'
FixNamespaceComments: 'true'
IncludeBlocks: Preserve
KeepEmptyLinesAtTheStartOfBlocks: 'true'
Language: Cpp
NamespaceIndentation: Inner
Standard: c++17
UseTab: Always
