
BasedOnStyle: Google
TabWidth: 4
IndentWidth: 4
---
Language: Cpp
Standard: Cpp11
ColumnLimit: 120
MaxEmptyLinesToKeep: 2
AccessModifierOffset: -2
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 4
IndentWrappedFunctionNames: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
BreakConstructorInitializersBeforeComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BinPackParameters: true
BinPackArguments: true
AllowShortFunctionsOnASingleLine: Empty
KeepEmptyLinesAtTheStartOfBlocks: true

UseTab: Never
