*.user
*.suo
*.sdf
*.opensdf
*.ipch
*.orig
lib/platform*.lib
obj/
Debug/
Release/

projects/pdf/lib/
projects/physics/lib/
projects/video/lib/
projects/web/lib/
projects/essentials/lib/essentials_d.lib
/projects/essentials/lib/essentials.lib
