*.orig
*.aps
*.opensdf
*.sdf
*.user
*.ipch
*.suo
*.psess
*.vsp
*.log
*.tlog
*.obj
*.idb
*.pdb

lib/platform*.lib
obj/
Debug/
Release/
logs/

/doc/doxygen/generated

projects/pdf/lib/
projects/physics/lib/
projects/video/lib/
projects/web/lib/
projects/essentials/lib/essentials_d.lib
projects/essentials/lib/essentials.lib
projects/rocket/build
example/simple_video_player/MediaInfo.dll
projects/viewers/lib/
/example/sync_video_player/debug.txt
